services:
  rabbitmq:
      image: rabbitmq:3-management
      container_name: rabbitmq
      ports:
        - "5672:5672"
        - "15672:15672"
      environment:
        RABBITMQ_DEFAULT_USER: guest
        RABBITMQ_DEFAULT_PASS: guest
      healthcheck:
        test: ["CMD", "rabbitmq-diagnostics", "check_running"]
        interval: 5s
        timeout: 5s
        retries: 20

  # todo: uncomment the docker-compose.override.yml
  # webui:
  #   image: ${DOCKER_REGISTRY-}webui
  #   build:
  #     context: .
  #     dockerfile: src/SmartAdmin.WebUI/Dockerfile
  #   environment:
  #     - "UseInMemoryDatabase=false"      
  #     - "ConnectionStrings__DefaultConnection=Host=localhost;Database=imonasdb;Username=main-admin;Password=some-pass-123"
  #     - "IdentityServer__Key__Type=Development"
  #     - "ASPNETCORE_Kestrel__Certificates__Default__Password=password123"
  #     - "ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx"
  #   volumes:
  #     - ~/.aspnet/https:/https:ro
  #   ports:
  #     - "5000:5000"
  #     - "5001:5001"
  #   depends_on:
  #     - db
  #   restart: on-failure
  db:
    image: postgres:18 # Use the latest stable version of PostgreSQL
    container_name: postgres_container
    restart: always
    ports:
      - "5432:5432" # Map PostgreSQL port to the host
    environment:
      POSTGRES_USER: main-admin       # Set the database username
      POSTGRES_PASSWORD: some-pass-123 # Set the database password
      POSTGRES_DB: imonasdb     # Set the default database name
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persistent storage for database data
      # - ./init.sql:/docker-entrypoint-initdb.d/init.sql # Optional: Initialization script

# consumer:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.Consumer
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #   environment:
  #     RABBITMQ_HOST: rabbitmq
  #     RABBITMQ_USER: guest
  #     RABBITMQ_PASS: guest
  #     RABBITMQ_EXCHANGE: demo.exchange
  #     RABBITMQ_QUEUE: demo.queue
  #     RABBITMQ_ROUTING_KEY: demo.route

  #     RABBITMQ_RETRY_EXCHANGE: demo.retry.exchange
  #     RABBITMQ_RETRY_QUEUE: demo.queue.retry
  #     RABBITMQ_RETRY_ROUTING_KEY: demo.route.retry
  #     RETRY_DELAY_MS: "5000"
  #     MAX_RETRIES: "3"

  #     RABBITMQ_DLX_EXCHANGE: demo.dlx
  #     RABBITMQ_DLQ_QUEUE: demo.queue.dlq
  #     RABBITMQ_DLQ_ROUTING_KEY: demo.route.dlq

  #     FAIL_PROBABILITY: "0.4"
  #   restart: unless-stopped

  # producer:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.Producer
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #     consumer:
  #       condition: service_started
  #   environment:
  #     RABBITMQ_HOST: rabbitmq
  #     RABBITMQ_USER: guest
  #     RABBITMQ_PASS: guest

  #     RABBITMQ_EXCHANGE: demo.exchange
  #     RABBITMQ_QUEUE: demo.queue
  #     RABBITMQ_ROUTING_KEY: demo.route

  #     RABBITMQ_RETRY_EXCHANGE: demo.retry.exchange
  #     RABBITMQ_RETRY_QUEUE: demo.queue.retry
  #     RABBITMQ_RETRY_ROUTING_KEY: demo.route.retry
  #     RETRY_DELAY_MS: "5000"

  #     RABBITMQ_DLX_EXCHANGE: demo.dlx
  #     RABBITMQ_DLQ_QUEUE: demo.queue.dlq
  #     RABBITMQ_DLQ_ROUTING_KEY: demo.route.dlq

  #     DEMO_COUNT: "12"
  #     DEMO_DELAY_MS: "400"
  #   restart: on-failure

volumes:
  postgres_data:
    driver: local
  rabbitmq:
