version: "3.9"
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-prod
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 5s
      timeout: 5s
      retries: 20

  # consumer:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.Consumer
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #   environment:
  #     RABBITMQ_HOST: rabbitmq
  #     RABBITMQ_USER: guest
  #     RABBITMQ_PASS: guest
  #     RABBITMQ_EXCHANGE: demo.exchange
  #     RABBITMQ_QUEUE: demo.queue
  #     RABBITMQ_ROUTING_KEY: demo.route

  #     RABBITMQ_RETRY_EXCHANGE: demo.retry.exchange
  #     RABBITMQ_RETRY_QUEUE: demo.queue.retry
  #     RABBITMQ_RETRY_ROUTING_KEY: demo.route.retry
  #     RETRY_DELAY_MS: "5000"
  #     MAX_RETRIES: "3"

  #     RABBITMQ_DLX_EXCHANGE: demo.dlx
  #     RABBITMQ_DLQ_QUEUE: demo.queue.dlq
  #     RABBITMQ_DLQ_ROUTING_KEY: demo.route.dlq

  #     FAIL_PROBABILITY: "0.4"
  #   restart: unless-stopped

  # producer:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.Producer
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #     consumer:
  #       condition: service_started
  #   environment:
  #     RABBITMQ_HOST: rabbitmq
  #     RABBITMQ_USER: guest
  #     RABBITMQ_PASS: guest

  #     RABBITMQ_EXCHANGE: demo.exchange
  #     RABBITMQ_QUEUE: demo.queue
  #     RABBITMQ_ROUTING_KEY: demo.route

  #     RABBITMQ_RETRY_EXCHANGE: demo.retry.exchange
  #     RABBITMQ_RETRY_QUEUE: demo.queue.retry
  #     RABBITMQ_RETRY_ROUTING_KEY: demo.route.retry
  #     RETRY_DELAY_MS: "5000"

  #     RABBITMQ_DLX_EXCHANGE: demo.dlx
  #     RABBITMQ_DLQ_QUEUE: demo.queue.dlq
  #     RABBITMQ_DLQ_ROUTING_KEY: demo.route.dlq

  #     DEMO_COUNT: "12"
  #     DEMO_DELAY_MS: "400"
  #   restart: on-failure
