<div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top mb-2">
    <h4 class="m-0 text-center color-white">
        <span id="notification-header-count">0</span>
        <small class="mb-0 opacity-80">Notifications</small>
    </h4>
</div>
<div class="custom-scroll" style="max-height: 350px;">
    <ul class="notification" id="notification-list">
        <li class="text-center py-4 text-muted" id="no-notifications">
            <i class="@(Settings.Theme.IconPrefix) fa-bell-slash fa-2x d-block mb-2 opacity-50"></i>
            No new notifications
        </li>
    </ul>
</div>
<div class="py-2 px-3 bg-faded d-block rounded-bottom text-right border-faded border-bottom-0 border-right-0 border-left-0">
    <a href="#" id="mark-all-read" class="fs-xs fw-500 ml-auto">mark all as read</a>
</div>
